body{
    background-color: rgb(147, 66, 3);
    background-image: url(images/vewer.jpg);
    background-size: cover;
    border: 10px;
    enable-background: 50%;
    border-color: aliceblue;
    background-repeat: no-repeat;
    padding: 50px;
    margin: 100px;
}
ul{
    float: right;
    list-style: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px; 
    padding-bottom: 0%;
    
}
ul li{
    display:table-cell;
}
ul li a{
    text-decoration: none;
    color: rgb(11, 4, 2);
    padding: 5px 20px;
    border: 0.6 solid transparent;
    transition: 0.5px;
    
}
ul li a:hover{
    background-color: #0c55f2;
    color: black;
    
}
.logo{
    margin: 10px;
    padding: .10px;

}
.text{
    margin: 0px;
    
}